html,
body {
  height: 100%;
}
h1 {
  color: #ff8922;
  /* background: blue; */
  text-align: center;
}

p {
  text-align-last: center;
}
.one {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.text-top {
  vertical-align: text-top;
}
.text-bottom {
  vertical-align: text-bottom;
  text-transform: capitalize;
  text-decoration: overline underline;
}
